img{
	width:30%;
	border:2px solid black;
	background-color:lightblue;
	padding:10px;
	border-radius:10%;
	text-align: center;
	margin-bottom:15px;
}

body{
	font-size: 20px;
	font-family:Vrinda;
	margin:20px;
	text-align:justify;
}

img:hover{
	transform:scale(1.1);
}

h2{
	font-size: 35px;
	background-color: yellow;
	color: green;
	text-align: center;
}

#a{
	background-color:lightcoral;
}

#im{
	width:20%;
}

h3{
	font-size: 30px;
	background-color:white;
	text-align: center;
}

h4{
	background-color:skyblue;
	color: black;
}

h6{
	font-size:30px;
	background-color: lightgreen;
	color: black;
	text-align: center;
}

.min{
	font-size:50px;
	background-color: lightgreen;
	color: black;
	text-align: center;
	font-family:Algerian;
}

p{
	font-size: 20px;
	background-color: white;
	color: black;
	text-align:justify;
	font-family:Vrinda;
	margin:20px;
	padding:10px;
}


h1{
	font-size: 40px;
	background-color:pink;
	color: red;
	color:blue;
	text-align: center;
}

.sp{
	width:45%;
}

.para{
	background-color: lightcoral;
	color: white;
}

.special{
	width: 45%;
}

.specials{
	width: 30%;
}

@media (max-width:1100px){
	img{
		width:90%;
	}

	.sp{
		width: 90%;
	}

	.special{
		width: 45%;
	}

	.specials{
		width: 30%;
	}

}

